<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>454983025573-c1572gqn5jeegb3jgmjadbj2lj258ibs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.454983025573-c1572gqn5jeegb3jgmjadbj2lj258ibs</string>
	<key>API_KEY</key>
	<string>AIzaSyCyAiNDrezClHIlMYUSA-ZxIMmVh42NQUY</string>
	<key>GCM_SENDER_ID</key>
	<string>454983025573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eyupyasuntimur.ScoutiumTest</string>
	<key>PROJECT_ID</key>
	<string>scoutium-8fdd2</string>
	<key>STORAGE_BUCKET</key>
	<string>scoutium-8fdd2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454983025573:ios:1943005ca66347670e5e4c</string>
</dict>
</plist>